.table-container {
  border-radius: 5px;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 8px;
  text-align: center;
}

tr:last-child td {
  border-bottom: none;
}

th {
  background-color: #f2f5f7;
  height: 52px !important;
}
